$color-white: #ffffff;
$color-black: #000000;
$color-blue: #00ade4;
$color-green: #29d807;
$color-grey: #d4d4d4;
$color-footer: #10546b;
$color-text: #142328;
$color-line: #d7d7d7;
$color-basket: #e0e0e0;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$base-font: "Arial MT", "Arial", sans-serif;
$custome-font: "Arial", sans-serif;
// $tablet-width: 768px;
// $desktop-width: 1300px;
