$color-white: #ffffff;
$color-black: #000000;
$color-green: #68b738;
$color-light-grey: #f2f2f2;
$color-text-light-grey: #444444;
$color-text-dark-grey: #111111;
$color-text-medium-grey: #222222;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$base-font: "Oswald", "Arial", sans-serif;
$custome-font: "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1300px;
